@use "config" as *;

* {
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: $background-main-color;
  min-height: 100vh;
}

.card {
  display: flex;
    flex-direction: column;
    align-items: center;
  width: 300px;
  border-radius: 20px;
  margin: 20px;
  background: $background-card-color;
  box-shadow: 10px 10px 10px darken($color: $background-main-color, $amount: 5);
}

img {
  width: 90%;
  border-radius: 10px;
  margin-top: 12px;
}

h1 {
  font-weight: $text1-weight;
  font-size: $text1-size;
  color: $text1-color;
  margin: 25px;
}

p {
  font-weight: $text2-weight;
  font-size: $text2-size;
  color: $text2-color;
  margin: 0 25px 35px 25px;
  text-align: center;
}

.attribution {
  justify-self: center;
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}
